<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Australian Shepherd</mat-card-title>
  </mat-card-header>

  <form>
    <div class="example-form-fields">
      <mat-form-field>
        <mat-label>Filter by keyword</mat-label>
        <input matInput placeholder="Type your keyword" #filterKeywordInput />
      </mat-form-field>

      <mat-form-field>
        <mat-select required (selectionChange)="updateSelectedCategory($event)">
          <mat-option>-- None --</mat-option>
          @for (category of categories; track category.slug) {
            <mat-option value="{{category.slug}}">{{category.name}}</mat-option>
          }          
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-card>
